/* Template 5-main */
.container { 
  display: flex;
  position: relative;
  width: 1440px;
  height: 4651px;
  background: #191765;
}

/* Top Naviagation */
.Top-Navigation {
  position: absolute;
  width: 1440px;
  height: 72px;
}

/* Item Navigation */
/* Auto Layout */
.Item-Navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: 241px;
  height: 40px;
  right: 194px;
  top: calc(50% - 40px / 2);
}

/* Frame 5 */
/* Auto Layout */
.Frame-5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: static;
  width: 77px;
  height: 40px;
  left: 164px;

  /* Inside Auto Layout */
  flex: none;
  order: 2;
  margin: 0px 8px;
}

/* Contact */
.Contact {
  position: static;
  width: 53px;
  height: 20px;
  left: 12px;
  top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;

  /* identical to box height, or 133% */
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

/* Frame 3 */
/* Auto Layout */
.Frame-3 { display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: static;
  width: 65px;
  height: 40px;
  left: 91px;
  top: 0px;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 8px;
}

.About { position: static;
  width: 41px;
  height: 20px;
  left: 12px;
  top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height, or 133% */
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

/* Frame 4 */
/* Auto Layout */
.Frame-4 { display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: static;
  width: 83px;
  height: 40px;
  left: 0px;
  top: 0px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;
}

/* Portoflio */
.Portfolio { position: static;
  width: 59px;
  height: 20px;
  left: 12px;
  top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height, or 133% */
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

/* Name */
/* Auto Layout */
.Name { display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: absolute;
  width: 101px;
  height: 40px;
  left: 142px;
  top: 16px;
}

/* Header */
/* Auto Layout */
.header { display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 0px;
  position: absolute;
  width: 1156px;
  height: 1121px;
  left: 142px;
  top: 72px;
}

/* Kevin Koome */
.Koome { position: static;
  width: 77px;
  height: 20px;
  left: 12px;
  top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
  
/* Support Text */
.Support-Text { position: static;
  width: 1156px;
  height: 72px;
  left: 0px;
  top: 120px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  /* Neutrals/N40 */
  color: #DFE1E6;
  /* Inside Auto Layout */ 
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0px;
}

/* Supporting Text */
/* Auto Layout */
.Supporting-Text { display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: static;
  width: 448px;
  height: 485px;
  left: calc(50% - 448px/2);
  top: 394px;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 88px 0px;
}

/* Primary Text */
.Primary-Text { position: static;
  width: 1156px;
  height: 96px;
  left: 0px;
  top: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 90px;
  line-height: 105px;
  text-align: center;
  color: #9391FF;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0px;
}

/* I can help you build a product , feature or website Look through some of my work and experience! If you like what you see and have a project you need coded, don’t hestiate to contact me. */
.Resume { position: static;
  width: 447px;
  height: 155px;
  left: 0.5px;
  top: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */
  text-align: center;
  /* Neutrals/N60 */
  color: #B3BAC5;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0px;
}
